Django==4.2.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==23.5
drf-yasg==1.21.7
Pillow==10.2.0
python-decouple==3.8
gunicorn==21.2.0
setuptools<81
